:root {
  --calendar-border: 1px solid var(--clr-primary);
  --clr-primary: #517dbe;
  --clr-primary-lt: #e3ebf7;
  --clr-holiday: #e47070;
}

* {
  font-family: "Barlow";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-primary);
  padding: 0 20px;
  margin: auto;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

input {
  outline: none;
  border: none;
  border-bottom: 2px solid #aaa;
  font-size: 16px;
}

input:focus {
  border-bottom: 2px solid var(--clr-primary);
  transition: all 0.2s ease-out;
}

label {
  font-size: 12px;
}

.form-create-event {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

#titulo {
  font-size: 24px;
}

.hidden {
  opacity: 0;
}

.btn {
  border: 1px solid #ffffff00;
  border-radius: 16px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.9;
  transition: all 0.2s ease-out;
}

.btn-save {
  width: 100px;
  align-self: flex-end;
  background-color: var(--clr-primary);
  color: #fff;
}

.btn-save:hover {
  box-shadow: 0 1px 0 #aaa;
}

.btn-danger {
  opacity: 0;
  color: var(--clr-primary);
}

.btn-danger:hover {
  opacity: 1;
  color: var(--clr-holiday);
}

.btn-icon {
  background-color: #fff;
  color: var(--clr-primary);
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.container {
  display: flex;
  gap: 10px;
  /* justify-content: center; */
  height: 100vh;
}

section#left {
  width: 300px;
  height: fit-content;
  padding: 20px;
  background-color: #fff;
}

section#right {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  min-height: 100%;
  height: fit-content;
  padding: 20px;
  background-color: #fff;
}

/* LIST VIEW */
.event-list {
  display: flex;
  flex-direction: column;
}

.event-list-month-title {
  padding-left: 32px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--clr-primary-lt);
}

.event-list-item {
  display: flex;
  align-items: center;
  border-color: #fff;
  background-color: #fff;
  padding: 4px 8px;
  transition: all 0.2s ease-out;
}

.event-list-item:hover .btn {
  opacity: 1;
}

.event-list-item form {
  flex: 1 1 0;
  display: flex;
}

.event-item-input-text {
  flex: 1 1 0;
  cursor: pointer;
  font-size: 16px !important;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 4px 8px;
  transition: all 0.2s ease;
}

.event-item-input-text:hover {
  background-color: var(--clr-primary-lt);
}

.event-day {
  color: var(--clr-primary);
  font-weight: 900;
  border-radius: 100%;
  margin-right: 16px;
  width: 16px;
  display: inline-block;
}

/* CALENDAR VIEW */
.calendar-grid {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  /* animation: fade-in 0.5s ease forwards; */
}

@keyframes fade-in {
  from {
    transform: translateY(-5px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.calendar-row {
  display: flex;
}

.calendar-weekday {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  background-color: var(--clr-primary);
  color: #fff;
  flex: 1 1 0;
  border-left: var(--calendar-border);
  padding: 8px;
}

.calendar-weekday:last-child {
  border-right: var(--calendar-border);
}

.calendar-day {
  height: 100px;
  flex: 1 1 0;
  overflow: hidden;
  padding: 5px;
  border-top: var(--calendar-border);
  border-left: var(--calendar-border);
  background-color: #fff;
  cursor: pointer;
}

.calendar-day:hover {
  background-color: var(--clr-primary-lt);
}

.calendar-day-number {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: var(--clr-primary);
  display: inline-block;
}

.holiday {
  color: var(--clr-holiday);
}

.today {
  color: #fff;
  background-color: var(--clr-primary);
  border-radius: 50%;
  height: 24px;
  width: 24px;
  line-height: 24px;
}

.other-month {
  color: #999;
}

.calendar-day.other-month {
  background-color: #eee;
}

.calendar-day:last-child {
  border-right: var(--calendar-border);
}

.calendar-row:last-child .calendar-day {
  border-bottom: var(--calendar-border);
}

.calendar-event-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 8px;
  overflow: hidden;
}

.calendar-event {
  background-color: var(--clr-primary);
  color: #fff;
  font-size: 12px;
  border-radius: 8px;
  padding: 4px 8px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* YEAR CALENDAR */
.year-grid {
  display: grid;
  grid: repeat(3, 1fr) / repeat(4, 1fr);
  justify-items: stretch;
  gap: 10px;
}

.year-grid-cell {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.month-name {
  font-weight: 700;
  text-align: center;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
  padding-top: 16px;
  padding-bottom: 10px;
  flex: 0 0 0;
}

.month-name:hover {
  color: var(--clr-primary);
}

.calendar-row-sm {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
  justify-content: center;
}

.calendar-day-sm {
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.calendar-week-sm {
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  cursor: default;
}

.year-grid-cell .calendar-row-sm:first-of-type {
  border-bottom: 2px solid var(--clr-primary-lt);
}

.calendar-day-sm.has-event {
  background-color: var(--clr-primary-lt);
}

.calendar-day-sm:hover {
  background-color: var(--clr-primary-lt);
}

/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 16px;
  border-bottom: var(--calendar-border);
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
  flex: 1 0 0;
}
